In [1]:
fruits = ['apple','mango','cherry','papaya']
for x in fruits:
    print(x, end='*')

apple*mango*cherry*papaya*

In [2]:
print(fruits)

['apple', 'mango', 'cherry', 'papaya']

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(1,6):
    print(i)

1
2
3
4
5

here 2 is called gap. 
gives a gap of 2

In [5]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

- print your name 5 times 
- print even numbers from 1 to 20 without using condition  statement 
- print odd numbers from 1 to 20 using condition statement

In [6]:
my_name = "kushagra singh"
for _ in range (5):
    print(my_name)

kushagra singh
kushagra singh
kushagra singh
kushagra singh
kushagra singh

In [7]:
for i in range(0,21,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [8]:
for i in range(1,21):
    if i % 2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19

while loop