- ways to declare dictionary
- how to access key and value pairs 
- loop in dectionary
- nested dictionary

In [2]:
student= {
    'name': 'alice',
    'course':'BCA',
    'age':24,
}
print (student)

{'name': 'alice', 'course': 'BCA', 'age': 24}

In [4]:
temp = {
    'lucknow': [35,38,40],
    'delhi' : [38,40,42],
    'chennai' : [28,25,22]
        }
print(temp)

{'lucknow': [35, 38, 40], 'delhi': [38, 40, 42], 'chennai': [28, 25, 22]}

In [5]:
temp = {
    'usa' : [28,40,42],
    'europe' : [27,25,56],
    'uk' : [26,15,18]
}
print(temp)

{'usa': [28, 40, 42], 'europe': [27, 25, 56], 'uk': [26, 15, 18]}

add dict and bracket to the info makes it dictionary

In [7]:
info = dict(name = "john", course = "BBA" , age = 24)
print(info)

{'name': 'john', 'course': 'BBA', 'age': 24}

In [8]:
info = dict(name = "john", course = input("enter course"), age = 24)
print(info)

{'name': 'john', 'course': 'BCA', 'age': 24}

HOW TO ACCES KEY VALUE PAIR

In [9]:
#list method  to acces value using keys 
student['age']

24

In [10]:
#2nd method to acces value using keys 
student.get('age')

24

now lets see manipulation.

In [11]:
#add new key value pair 
info['college'] = 'LU'
print(info)

{'name': 'john', 'course': 'BCA', 'age': 24, 'college': 'LU'}

In [12]:
#update key value pair 
info['college'] = 'LPC'
print(info)

{'name': 'john', 'course': 'BCA', 'age': 24, 'college': 'LPC'}

In [13]:
#delete key value pair
info.pop('college')
print(info)

{'name': 'john', 'course': 'BCA', 'age': 24}

In [16]:
print(info.keys())
print(info.values())
print(info.items())

dict_keys(['name', 'course', 'age'])
dict_values(['john', 'BCA', 24])
dict_items([('name', 'john'), ('course', 'BCA'), ('age', 24)])

In [30]:
#k here is a pointer variable
#agar single pointer variable is given it gets assigned to keys

for K in info:
    print(K)

name
course
age

In [ ]:
a = 10
b = 20
print("sum is :", a+b)
#use f string to reduce comma 
print(f"sum of {a} and {b} is {a+b}")

sum is : 30
sum of 10 and 20 is 30

In [31]:

for K,v in info.items():
    print(f'{K}: {v}')

name: john
course: BCA
age: 24

Nested Dictionary

In [25]:
company = {
    'emp001' :{
        'name' :'Alice',
        'dept' : 'IT',
        'salary' : 70000
    },
    'emp002' : {
    'name' : 'bob',
    'dept' : 'finance',
    'salary' : 30000
    },
    'emp003' : {
    'name' : 'smith',
    'dept' : 'marketing',
    'salary'  : 45000
    
     }
}
 
 
print(company)

{'emp001': {'name': 'Alice', 'dept': 'IT', 'salary': 70000}, 'emp002': {'name': 'bob', 'dept': 'finance', 'salary': 30000}, 'emp003': {'name': 'smith', 'dept': 'marketing', 'salary': 45000}}

In [32]:
company['emp002']['dept']

'finance'

In [1]:
#print average temperature of lucknow 
sum(temp['lucknow'])/len(temp['lucknow'])

NameError: name 'temp' is not defined